/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
     -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
          box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
     -webkit-border-top-right-radius: @topright;
         -moz-border-radius-topright: @topright;
             border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
      -moz-border-radius-bottomright: @bottomright;
          border-bottom-right-radius: @bottomright;
   -webkit-border-bottom-left-radius: @bottomleft;
       -moz-border-radius-bottomleft: @bottomleft;
           border-bottom-left-radius: @bottomleft;
      -webkit-border-top-left-radius: @topleft;
          -moz-border-radius-topleft: @topleft;
              border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.font-smoothing() {
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
.opacity(@opacity: 0.5) {
  -webkit-opacity: @opacity;
     -moz-opacity: @opacity;
   -khtml-opacity: @opacity;
          opacity: @opacity;
}
.transition-duration(@duration: 0.2s) {
  -webkit-transition-duration: @duration;
     -moz-transition-duration: @duration;
          transition-duration: @duration;
}
.rotation(@deg: 5deg){
  -webkit-transform: rotate(@deg);
     -moz-transform: rotate(@deg);
          transform: rotate(@deg);
}
.scale(@ratio: 1.5){
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
          transform: scale(@ratio);
}
.transition(@duration: 0.2s, @ease: ease-out) {
  -webkit-transition: all @duration @ease;
     -moz-transition: all @duration @ease;
          transition: all @duration @ease;
}
.inner-shadow(@horizontal: 0, @vertical: 1px, @blur: 2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
     -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
          box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
     -moz-box-shadow: @arguments;
          box-shadow: @arguments;
}
.translate(@x:0, @y:0) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
